<footer class="main-footer">
  <div class="container-fluid">
    <div class="develop-tools">
      <p>
        Developed with
        <a href="http://getbootstrap.com">Bootstrap</a>,
        <a href="http://gulpjs.com">Gulp</a>,
        <a href="https://mozilla.github.io/nunjucks">Nunjucks</a>,
        <a href="http://sass-lang.com">SASS</a> and
        <a href="https://github.com/thiagosf/skitter-site/blob/master/package.json">and many others.</a>
      </p>
    </div>
    <span class="phrase">
      Use for good
    </span>
    <span class="smile">: )</span>
  </div>
</footer>
{% if false %}
  <div class="small-banner visible-xs">
    <div class="banner">Banner</div>
  </div>
{% endif %}
