<div class="playground-links">
  <ul class="list-inline">
    <li><a href="/playground-thumbs.html" class="btn btn-primary">Thumbs</a></li>
    <li><a href="/playground-navigation.html" class="btn btn-primary">Navigation</a></li>
    <li><a href="/playground-dots.html" class="btn btn-primary">Dots</a></li>
    <li><a href="/playground-dots-with-preview.html" class="btn btn-primary">Dots with preview</a></li>
    <li><a href="/playground-numbers.html" class="btn btn-primary">Numbers</a></li>
    <li><a href="/playground-progressbar.html" class="btn btn-primary">Progress bar</a></li>
    <li><a href="/playground-focus.html" class="btn btn-primary">Focus</a></li>
  </ul>
</div>
