<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar icon-bar-change"></span>
      </button>
      <a href="#" class="github-link">
        <img src="/svgs/github.svg" alt="Github">
      </a>
      <a class="navbar-brand" href="/">
        <img src="/svgs/logo.svg" alt="Skitter">
      </a>
      <span class="site-title">
        <strong>Skitter</strong>
        Slideshow for anytime
      </span>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for page, item in nav %}
          <li class="visible-xs {% if page == current_page %}active{% endif %}"><a href="{{ item.link }}">{{ item.label }}</a></li>
        {% endfor %}
        <li class="hidden-xs">
          <a href="#" class="github-link github-md-link">
            <small class="hidden-xs">
              Fork me on <br>
              <strong>GitHub</strong>
            </small>
            <img src="/svgs/github.svg" alt="Github">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
