<nav class="navbar navbar-fixed-top">
  <div class="container-fluid d-flex items-center">
    <div class="navbar-header d-flex justify-between items-center f-grow">
      <div class="logo-box d-flex items-center">
        <a class="navbar-brand" href="/">
          <img src="{{ cdn }}/svgs/logo.svg" alt="Skitter">
        </a>
        <span class="site-title">
          <strong>Skitter</strong>
          Slideshow for anytime
        </span>
        <div class="top-banner">
          <div class="banner d-flex justify-center items-center">
            {% if NODE_ENV == "production" %}
              <!-- skitter-top -->
              <ins class="adsbygoogle"
                  style="display:inline-block;width:728px;height:90px"
                  data-ad-client="ca-pub-5475009614982192"
                  data-ad-slot="5484544865"></ins>
              <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="nav-buttons">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar icon-bar-change"></span>
        </button>
        <a href="{{ repo }}" class="github-link">
          <img src="{{ cdn }}/svgs/github.svg" alt="Github">
        </a>
      </div>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for page, item in nav %}
          <li class="visible-xs {% if page == current_page %}active{% endif %}"><a href="{{ item.link }}">{{ item.label }}</a></li>
        {% endfor %}
        <li class="hidden-xs">
          <a href="{{ repo }}" class="github-link github-md-link">
            <small class="hidden-xs">
              Fork me on <br>
              <strong>GitHub</strong>
            </small>
            <img src="{{ cdn }}/svgs/github.svg" alt="Github">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
