.navbar-fixed-top {
  .navbar-collapse {
    max-height: initial;
  }
}
.navbar {
  background: white;
  min-height: initial;
  padding: 20px 0;
  box-shadow: rgba(black, .3) 0 0 7px;
  > .container-fluid {
    .navbar-brand {
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      img {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &.navbar-fixed-top {
    border: 0;
  }
  .navbar-header {
    margin: 0;
    .github-link {
      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
  }
}
.navbar-toggle {
  margin: 0;
  padding: 13px 10px;
  border-radius: 0;
  border: 0;
  &.collapsed {
    .icon-bar {
      background: black;
      &.icon-bar-change {
        transform: translateX(10px);
      }
    }
  }
  .icon-bar {
    transition: all 200ms;
    height: 5px;
    width: 20px;
    background: $green;
    border-radius: 0;
    &.icon-bar-change {
      width: 10px;
      transform: translateX(0px);
    }
  }
}
.navbar-collapse {
  border: 0;
  padding: 0;
}
.navbar-nav {
  margin: 20px 0 0;
  text-align: right;
  @media (min-width: $screen-sm-min) {
    margin: 0;
    float: right;
  }
  > li {
    &.active {
      > a {
        font-weight: bold;
      }
    }
    > a {
      font-size: 20px;
      line-height: 1.5;
      padding: 10px 30px;
      color: black;
      &:hover,
      &:active,
      &:focus {
        background: transparent;
        color: $green;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 16px;
        padding: 7px 10px;
      }
    }
  }
}
.site-title {
  display: inline-block;
  margin-left: 15px;
  padding-top: 5px;
  font-size: 10px;
  line-height: 1.2;
  @media (min-width: $screen-sm-min) {
    padding-top: 9px;
    font-size: 16px;
    margin-left: 20px;
  }
  strong {
    display: block;
    font-size: 16px;
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      font-size: 20px;
    }
  }
}
.github-link {
  width: 25px;
  height: 25px;
  float: right;
  padding: 8px 10px;
  box-sizing: content-box;
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &.github-md-link {
    width: 100px;
    small {
      font-size: 11px;
      line-height: 1.2;
      float: left;
    }
    img {
      float: right;
      width: 28px;
      height: 28px;
    }
  }
}

.navbar-md-nav {
  margin-top: 20px;
  text-align: right;
  @media (min-width: $screen-lg-min) {
    margin-top: 30px;
  }
  li {
    &.active {
      a {
        font-weight: bold;
      }
    }
    a {
      color: black;
      padding: 10px 0;
      &:hover,
      &:active,
      &:focus {
        background: transparent;
        color: $green;
      }
    }
  }
}
