{% set current_page = "home" %}
{% extends "partials/base.html" %}

{% block content %}
  <div class="skitter-box">
    <div class="skitter skitter-large with-dots">
      <ul>
        {% for item in slides.default %}
          <li>
            <a href="#{{ item.animation }}"><img src="{{ item.image }}" class="{{ item.animation }}" /></a>
            <div class="label_text">
              <p>{{ item.label | safe }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="main-content">
    <p class="text-large"><strong>Skitter</strong> is a free jQuery slider responsive with a multiple animations and options.</p>
    {% include "partials/share.html" %}
    <div class="features-box">
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="item-feature">
            <img src="/svgs/feature-animations.svg">
            <div class="title">
              Many <strong>animations</strong>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="item-feature">
            <img src="/svgs/feature-responsive.svg">
            <div class="title">
              <strong>Responsive</strong> support
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="item-feature">
            <img src="/svgs/feature-options.svg">
            <div class="title">
              Several <strong>options</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="visible-xs">
      {% include "partials/milk.html" %}
      <hr>
    </div>
    <h2>Start now!</h2>
    <ul>
      {% for page, item in nav %}
        {% if page != "home" %}
          <li>
            <a href="{{ item.link }}">{{ item.label }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}
