{% set current_page = "home" %}
{% extends "partials/base.html" %}

{% block content %}
  <div class="skitter-box">
    <div class="skitter skitter-large with-dots">
      {% include "partials/images_list.html" %}
    </div>
  </div>
  <div class="main-content">
    <p class="text-large text-highlight-description"><strong>Skitter</strong> is a free jQuery slider responsive with a multiple animations and options.</p>
    {% include "partials/share.html" %}
    <div class="features-box">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="item-feature">
            <img src="{{ cdn }}/svgs/feature-animations.svg">
            <div class="title">
              Many <strong>animations</strong>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="item-feature">
            <img src="{{ cdn }}/svgs/feature-responsive.svg">
            <div class="title">
              <strong>Responsive</strong> support
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="item-feature">
            <img src="{{ cdn }}/svgs/feature-options.svg">
            <div class="title">
              Several <strong>options</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="visible-xs">
      {% include "partials/milk.html" %}
      <hr>
    </div>
    <div class="navigation-footer">
      <a href="/install.html" class="next-page">Start now!</a>
    </div>
  </div>
{% endblock %}
