{% set current_page = "home" %}
{% extends "partials/base.html" %}

{% block content %}
  <div class="skitter-box">
    <div class="skitter skitter-large with-dots">
      <ul>
        <li>
          <a href="#cut"><img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=1&w=1280&h=400" class="cut" /></a>
          <div class="label_text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#see-more" class="btn btn-xs btn-warning">See more</a></p>
          </div>
        </li>
        <li>
          <a href="#swapBlocks"><img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=2&w=1280&h=400" class="swapBlocks" /></a>
          <div class="label_text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#see-more" class="btn btn-xs btn-warning">See more</a></p>
          </div>
        </li>
        <li>
          <a href="#swapBarsBack"><img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=3&w=1280&h=400" class="swapBarsBack" /></a>
          <div class="label_text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#see-more" class="btn btn-xs btn-warning">See more</a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <p class="text-large"><strong>Skitter</strong> is a free jQuery slider responsive with a multiple animations and options.</p>
    <div class="features-box">
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="item-feature">
            <img src="/svgs/feature-animations.svg">
            <div class="title">
              Many <strong>animations</strong>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="item-feature">
            <img src="/svgs/feature-responsive.svg">
            <div class="title">
              <strong>Responsive</strong> support
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="item-feature">
            <img src="/svgs/feature-options.svg">
            <div class="title">
              Several <strong>options</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="visible-xs">
      {% include "partials/milk.html" %}
      <hr>
    </div>
    <h2>Start now!</h2>
    <div class="row">
      {% for page, item in nav %}
        {% if page != "home" %}
          <div class="col-sm-6 col-md-4">
            <a href="{{ item.link }}" class="btn btn-block btn-lg btn-warning btn-with-margin">{{ item.label }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
