{% set sub_title = "Options" %}
{% set current_page = "options" %}
{% extends "partials/base.html" %}

{% block content %}
  <div class="main-content">
    <h1>Options</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for index, item in options %}
            <tr>
              <td>{{ index }}</td>
              <td><code>{{ item.type }}</code></td>
              <td><span class="label label-primary">{{ item.default }}</span></td>
              <td>{{ item.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
