{% set sub_title = "Options" %}
{% set current_page = "options" %}
{% extends "partials/base.html" %}

{% block content %}
  <div class="main-content">
    <h1>Options</h1>
    {% include "partials/share.html" %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Type</th>
            <th>Default</th>
            <th>Accept</th>
          </tr>
        </thead>
        <tbody>
          {% for parameter, item in options %}
            <tr>
              <td>{{ parameter }}</td>
              <td><code>{{ item.label | safe }}</code></td>
              <td><code>{{ item.type | safe }}</code></td>
              <td><em>{{ item.default | safe }}</em></td>
              <td>{{ item.accept | safe }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="navigation-footer">
      <a href="/install.html" class="prev-page">Go to install instructions</a>
      <a href="/api.html" class="next-page">Check public API</a>
    </div>
  </div>
{% endblock %}
