{% set sub_title = "Playground - Focus" %}
{% set current_page = "playground" %}
{% extends "partials/base.html" %}

{% block content %}
  <div class="main-content">
    <h1>Playground - Focus</h1>
    {% include "partials/share.html" %}
    {% include "partials/playground_links.html" %}
    <div class="skitter-box">
      <div class="skitter skitter-playground skitter-focus">
        {% include "partials/images_list.html" %}
      </div>
    </div>
    <div class="code-box">
      <h3>Your code!</h3>
<pre class="language language-javascript"><code>$(&#039;.skitter-large&#039;).skitter({
  focus: true
});</code></pre>
    </div>
    {% include "partials/playground_footer_navigation.html" %}
  </div>
{% endblock %}
